a { cursor: pointer;}

header h1 {
    margin: 0 0 .5em;
}

header h1 span {
    font-size: x-large;
    color: #ff982b;
}

nav a {
    margin: 0 .7em 0 0;
}

nav a.active {
    font-weight: bold;
}

.items {
    padding: unset;
}

.item {
    transition: visibility .4s, opacity .4s, max-height .4s;
    display: flex;
    opacity: 1;
    max-height: 10em;
}

.item.hidden {
    transition: visibility .1s, opacity .1s, max-height .1s;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
}

.item > span {
    padding-right: .5em;
    margin-top: -.2em;
}

.item > div {
    padding-bottom: .7em;
    line-height: 1.2;
}

.item .title {
    margin-right: .3em;
}

.item .title.readed {
    color: #7393ac;
}

.item .meta {
    font-size: small;
    color: #aaa;
}

.item .link {
    font-size: small;
    color: #777;
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

article .meta {
    margin-top: -1.5em;
    color: #aaa;
}

article .title {
    font-size: x-large;
}